# 1 输入学者id

输入包含学者id的文本文件（一行一个学者id）。

In [1]:
SCHOLAR_ID_PATH = '../data/scholar_ids.txt'

scholar_id_set: set[int] = set() 

with open(SCHOLAR_ID_PATH, 'r', encoding='utf-8') as fp:
    for line in fp:
        scholar_id = int(line)
        scholar_id_set.add(scholar_id)

# 2 导出学者的论文

导出的表中包含如下字段：
* 学者id
* 学者姓名
* 学者机构
* 论文标题

In [2]:
import sys 
sys.path.append('..')

import zhitu 
from tqdm.notebook import tqdm 
import pandas as pd 
from collections import defaultdict
from typing import Any, Optional  

paper_dict: dict[str, list[Any]] = defaultdict(list)

for scholar_id in tqdm(scholar_id_set):
    scholar_entry = zhitu.query_scholar_by_id(scholar_id)
    assert scholar_entry
    
    scholar_name = scholar_entry['name']
    scholar_org = scholar_entry['org_name']

    for paper_entry in zhitu.query_scholar_paper(scholar_id=scholar_id, source='JanusGraph'):
        paper_title = paper_entry['paper_title']
        
        paper_dict['scholar_id'].append(scholar_id)
        paper_dict['scholar_name'].append(scholar_name)
        paper_dict['scholar_org'].append(scholar_org)
        paper_dict['paper_title'].append(paper_title)
        
df = pd.DataFrame(paper_dict)

df

  0%|          | 0/77 [00:00<?, ?it/s]

[INFO] The connection to MySQL is established.
[INFO] The connection to JanusGraph is established.

,scholar_id,scholar_name,scholar_org,paper_title
0,58159796224,Paul D. Komar,Oregon State University,Incorporating climate change and morphological...
1,39670579200,Alice Alldredge,"Marine Science Institute, University of Califo...",Mass aggregation of diatom blooms: Insights fr...
2,39670579200,Alice Alldredge,"Marine Science Institute, University of Califo...",Interstitial dissolved organic carbon (DOC) co...
3,39670579200,Alice Alldredge,"Marine Science Institute, University of Califo...",In situ settling behavior of marine snow1
4,39670579200,Alice Alldredge,"Marine Science Institute, University of Califo...",Effects of the 1997 98 El Niño on seasonal var...
...,...,...,...,...
1365,21353459728,David R. Dowling,"Department of Mechanical Engineering, Universi...",Experimental assessment of fractal scale-simil...
1366,21353459728,David R. Dowling,"Department of Mechanical Engineering, Universi...",Four-dimensional laser induced fluorescence st...
1367,21353459728,David R. Dowling,"Department of Mechanical Engineering, Universi...",The mean velocity profile of a smooth-flat-pla...
1368,21353459728,David R. Dowling,"Department of Mechanical Engineering, Universi...",High reynolds-number assessment of a multifrac...
1369,10064199680,Michael A. Spall,Woods Hole Oceanographic Institution Woods Hol...,Dynamics of upwelling in the Alaskan Beaufort ...

In [3]:
df.to_excel('../data/scholar_papers.xlsx', index=False)